<template>
  <div>
    <b-button variant="success" class="float-right w-10" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name Company"
          label-for="namecompany"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="namecompany"
            v-model="form.namecompany"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Ownername"
          label-for="ownerName"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="ownerName"
            v-model="form.ownerName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="email"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Website"
          label-for="website"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="website"
            v-model="form.website"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Telphone"
          label-for="telphone"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="website"
            v-model="form.telphone"
            required
          ></b-form-input>
        </b-form-group>

        <h3>Address</h3>

        <b-form-group
          label="House Number"
          label-for="housenumber"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="housenum"
            v-model="form.address.housenum"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Road"
          label-for="road"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="road"
            v-model="form.address.road"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Subdistrict"
          label-for="subdistrict"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="subdistrict"
            v-model="form.address.subdistrict"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="District"
          label-for="district"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="district"
            v-model="form.address.district"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Province"
          label-for="province"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="province"
            v-model="form.address.province"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Postal Number"
          label-for="postalnumber"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="postalnumber"
            v-model="form.address.postalNumber"
            required
          ></b-form-input>
        </b-form-group>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button class="w-100" @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" class="mt-2 w-100" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './UserService'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: '',
        namecompany: '',
        ownerName: '',
        email: '',
        website: '',
        telphone: '',
        address: {
          housenum: '',
          road: '',
          subdistrict: '',
          district: '',
          province: '',
          postalNumber: ''
        }
      },
      userList: [],
      fields: [
        'namecompany',
        'ownerName',
        'email',
        'website',
        'telphone',
        'address',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New User ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.namecompany + ' หรือไม่ !!!!', {
          title: 'กรูณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(user)
            // this.userList = userService.getUsers()
            axios
              .delete('http://localhost:3000/company/delete/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        namecompany: '',
        ownerName: '',
        email: '',
        website: '',
        telphone: '',
        address: {
          housenum: '',
          road: '',
          subdistrict: '',
          district: '',
          province: '',
          postalNumber: ''
        }
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check valid
      if (this.stateName === false || this.stateGender === false) {
        return ''
      }
      // Do when pass valid
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        // this.userList = userService.getUsers()
        axios
          .put('http://localhost:3000/company/update', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        // this.userList = userService.getUsers()
        delete this.form._id
        axios
          .post('http://localhost:3000/company/add', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    // addUser (user) {
    //   user.id = this.lastId++
    //   this.userList.push(user)
    // },
    // updateUser (user) {
    //   const index = this.userList.findIndex(item => item.id === user.id)
    //   this.userList.splice(index, 1, user)
    // },
    // deleteUser (user) {
    //   const index = this.userList.findIndex(item => item.id === user.id)
    //   this.userList.splice(index, 1)
    // },
    getUsers () {
      axios
        .get('http://localhost:3000/company/')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {},
  mounted () {
    console.log('Vue compomet is mounted')
    this.userList = this.getUsers()
  }
}
</script>
