<template>
  <div class="w-75 p-3 mb-1 position-relative mx-auto text-left">
    <b-form ref="form" @submit.stop.prevent="handleSubmit()">
      <b-form-group
        id="nameCom"
        label-cols-sm="2"
        label-cols-lg="1"
        content-cols-sm
        content-cols-lg
        label="ชื่อบริษัท:"
        label-for="nameCompany"
        class=""
      >
        <b-form-input
          id="nameCompany"
          v-model="comList.namecompany"
        ></b-form-input>
      </b-form-group>
      <b-row>
        <b-col>
          <b-form-group
            id="position"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="ตำแหน่งงาน: "
            label-for="position"
            class="my-3"
          >
            <b-form-select
              id="position"
              v-model="form.position"
              :options="job"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="gender"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="เพศ: "
            label-for="gender"
            class="my-3"
          >
            <b-form-select
              id="gender"
              v-model="form.gender"
              :options="gender"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="salary"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="เงินเดือน: "
            label-for="salary"
            class="my-3"
          >
            <b-form-select
              id="salary"
              v-model="form.salary"
              :options="salary"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="educational"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="วุฒิการศึกษา: "
            label-for="educational"
            class="my-3"
          >
            <b-form-select
              id="educational"
              v-model="form.educational"
              :options="degree"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="workTime"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="ประเภทการจ้างงาน: "
            label-for="workTime"
            class="my-3"
          >
            <b-form-select
              id="workTime"
              v-model="form.workTime"
              :options="type"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="recruits"
            label-cols-sm="2"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg
            label="จำนวนคนที่ต้องการ: "
            label-for="recruits"
            class="my-3"
          >
            <b-form-input
              id="recruits"
              v-model="form.recruits"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group
        id="welfare"
        label-cols-sm="1"
        label-cols-lg="1"
        content-cols-sm
        content-cols-lg
        label="สวัสดิการ: "
        label-for="welfare"
        class="my-3"
      >
        <b-form-textarea
          id="welfare"
          size="lg"
          v-model="form.welfare"
          required
        ></b-form-textarea>
      </b-form-group>
      <b-form-group
        id="description"
        label-cols-sm="1"
        label-cols-lg="1"
        content-cols-sm
        content-cols-lg
        label="ลายละเอียดงาน: "
        label-for="description"
        class="my-3"
      >
        <b-form-textarea
          id="description"
          size="lg"
          v-model="form.description"
          required
        ></b-form-textarea>
      </b-form-group>
      <div class="my-3">
        <b-button
          block
          variant="primary"
          @click="handleSubmit(comList.namecompany)"
          >ประกาศงาน</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      comList: [],
      form: {
        nameCompany: '',
        position: null,
        gender: null,
        salary: null,
        welfare: null,
        workTime: null,
        educational: null,
        description: null,
        recruits: null
      },
      job: [
        { value: null, text: 'ตำแหน่งงาน' },
        { value: 'a', text: 'IT Support' },
        { value: 'b', text: 'Programmer' }
      ],
      gender: [
        { value: null, text: 'เพศ' },
        { value: 'a', text: 'ชาย' },
        { value: 'b', text: 'หญิง' },
        { value: 'c', text: 'ไม่จำกัดเพศ' }
      ],
      salary: [
        { value: null, text: 'เงินเดือน' },
        { value: 'a', text: '20000' },
        { value: 'b', text: 'มากกว่า 20000' }
      ],
      degree: [
        { value: null, text: 'วุฒิการศึกษา' },
        { value: 'a', text: 'ปวช' },
        { value: 'b', text: 'ปริญญาตรี' }
      ],
      type: [
        { value: null, text: 'ประเภทการจ้างงาน' },
        { value: 'a', text: 'Full-time' },
        { value: 'b', text: 'Part-time' }
      ],
      location: [
        { value: null, text: 'สถานที่ทำงาน' },
        { value: 'a', text: 'กรุงเทพ' },
        { value: 'b', text: 'ชลบุรี' }
      ]
    }
  },
  methods: {
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit (name) {
      const comName = name
      this.form.nameCompany = comName
      if (this.form.nameCompany !== '') {
        console.log(this.form)
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        // this.userList = userService.getUsers()
        axios
          .post('http://localhost:3000/jobposting/add', {
            namecompany: this.form.nameCompany,
            position: this.form.position,
            welfare: this.form.welfare,
            workTime: this.form.workTime,
            gender: this.form.gender,
            educational: this.form.educational,
            salary: this.form.salary,
            description: this.form.description,
            recruits: this.form.recruits
          })
          .then(res => {
            console.log(res)
            this.form.position = ''
            this.form.welfare = ''
            this.form.workTime = ''
            this.form.gender = ''
            this.form.educational = ''
            this.form.salary = ''
            this.form.description = ''
            this.form.recruits = ''
          })
          .catch(err => {
            console.log(err)
          })
      }
    },
    getComs () {
      axios
        .get('http://localhost:3000/company/604312b4870e615f1cd0a567')
        .then(res => {
          console.log(res)
          this.comList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue compomet is mounted')
    this.comList = this.getComs()
  }
}
</script>
