<template>
  <div class="container-auto">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item active href="#"
              >ผู้สมัครที่ยังไม่ได้คัดเลือก</b-nav-item
            >
            <b-nav-item href="#">ผู้สมัครที่คัดเลือกแล้ว</b-nav-item>
            <b-nav-item href="#">ไม่ตรงตามความต้องการ</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <em>จัดเรียงตาม</em>
              </template>
              <b-dropdown-item href="#">สถานที่ตั้ง</b-dropdown-item>
              <b-dropdown-item href="#">ตำแหน่งงาน</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <br />
      <div class="p-2" v-for="userList in userList" :key="userList">
        <div
          class="card bg-light border border-dark"
          v-if="userList.position === 'Programmer'"
        >
          <b-card-body class="text-center">
            <b-navbar>
              <b-form-checkbox
                id="checkbox-1"
                v-model="status"
                name="checkbox-1"
                value="accepted"
                unchecked-value="not_accepted"
              >
                <div class="h4 text-info">{{ userList.nameSurname }}</div>
              </b-form-checkbox>
              <b-navbar-nav class="ml-auto">
                <b-button class="m-1" variant="success">รับเลือก</b-button>
                <b-button class="m-1" variant="danger">ไม่รับเลือก</b-button>
              </b-navbar-nav>
            </b-navbar>
            <div class="row">
              <b-card-title class=" text-left h5 pl-4"
                >{{ userList.position }}
              </b-card-title>
            </div>
            <div class="row pl-2">
              <div class="col-4 text-left">
                <b-icon icon="handbag-fill"></b-icon> {{ userList.experience }}
              </div>
              <div class="col-4 text-left">
                <b-icon icon="geo-alt-fill"></b-icon> {{ userList.address }}
              </div>
            </div>
            <div class="row pl-2">
              <div class="col-4 text-left">
                <b-icon icon="person"></b-icon> {{ userList.educational }}
              </div>
              <div class="col-4 text-left">
                <b-icon icon="clipboard"></b-icon> ใบอนุญาตอื่นๆ
              </div>
            </div>
            <div class="row pl-2">
              <div class="col-4 text-left">
                <b-icon icon="credit-card"></b-icon> เงินเดือนที่คาดหวัง
                {{ userList.salary }} บาทต่อเดือน
              </div>
            </div>
            <br />
          </b-card-body>

          <div class="text-muted card-footer">
            <div class="row ">
              <div class="col text-left">
                สมัครไปที่ Programmer ({{ userList.date }})
              </div>
              <div class="col text-right ">
                <div class="btn text-primary">
                  Black List
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      userList: []
    }
  },
  methods: {
    getUsers () {
      axios
        .get('http://localhost:3000/applyJob/')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {},
  mounted () {
    console.log('Vue compomet is mounted')
    this.userList = this.getUsers()
  }
}
</script>
