<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        img-src="https://picsum.photos/1024/480/?image=52"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
        <h1>Hello world!</h1>
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        img-src="https://picsum.photos/1024/480/?image=58"
      ></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="480"
            src="https://picsum.photos/1024/480/?image=55"
            alt="image slot"
          />
        </template>
      </b-carousel-slide>
    </b-carousel>
    <!--- Serach -->
    <b-row class=" bg-dark mx-auto ">
      <b-col sm="1"></b-col>
      <b-col class="p-5 ml-5">
        <b-row>
          <b-col sm="5">
          </b-col>
          <router-link to="/result">
            <b-button variant="primary">ค้นหางาน</b-button>
          </router-link>
        </b-row>
      </b-col>
    </b-row>
    <!-- End Search -->
    <!-- Start Card -->
    <div class="col-xl-12">
      <br />
      <!--Card 1 -->
      <b-card
        img-src="https://placekitten.com/300/300"
        img-alt="Card image"
        img-left
        class="mb-5"
      >
        <b-card-text class="mt-0 mb-1 text-left">
          <h1>Progarmmer</h1>
          E-COMMERCE SOLUTION CO., LTD <br />
          <br />

          <b-icon icon="geo-alt-fill" variant="danger"></b-icon>
          มหาวิทยาลัยบูรพา ชลบุรี <br />
          <b-icon icon="person-bounding-box" variant="warning"></b-icon>
          สัมภาษณ์งานออนไลน์ <br />
          <b-icon icon="at" variant="info"></b-icon> Work Form Home <br />
          <b-icon icon="award-fill" variant="success"></b-icon> 10,000 - 30,000
          <br />
        </b-card-text>
      </b-card>
      <!--End Card 1 && Start Card 2-->
      <b-card
        img-src="https://placekitten.com/300/200"
        img-alt="Card image"
        img-left
        class="mb-5"
      >
        <b-card-text class="mt-0 mb-1 text-left">
          <h1>Software Testing</h1>
          MarsX Co,.Ltd <br />
          <br />

          <b-icon icon="geo-alt-fill" variant="danger"></b-icon> ถนนข้าวหลาม
          <br />
          <b-icon icon="person-bounding-box" variant="warning"></b-icon>
          สัมภาษณ์งานที่บริษัท <br />
          <b-icon icon="at" variant="info"></b-icon> Work at Office <br />
          <b-icon icon="award-fill" variant="success"></b-icon> ตามที่ตกลงกัน
          <br />
        </b-card-text>
      </b-card>
      <!--End Card 2-->
      <!-- End Card -->
    </div>
    <!--End Div col-xl-12-->

    <b-row class=" bg-dark mx-auto ">
      <p style="color: white">MarsX Team</p>
    </b-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null,
      selected1: null,
      selected2: null,

      station: [
        { value: null, text: 'สถานที่ตั้ง' },
        { value: 'all', text: 'ทั้งหมด' },
        { value: 'a', text: 'กรุงเทพ' },
        { value: 'b', text: 'ชลบุรี' }
      ],
      jobtype: [
        { value: null, text: 'ตำแหน่งงาน' },
        { value: 'all', text: 'ทั้งหมด' },
        { value: 'a', text: 'ไอทีซัพพอร์ท' },
        { value: 'b', text: 'โปรแกรมเมอร์' }
      ]
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
