<template>
  <div class="box">
    <form class="box2">
      <div class="form-group row">
        <div class="col">
          <button class="buttonBorder ">
            <span style="font-size:25px"> บริษัท </span>
          </button>
        </div>
        <h2>|</h2>
        <div class="col">
          <button class="buttonBorder ">
            <span style="font-size:25px"> หางาน </span>
          </button>
        </div>
      </div>
      <h3 class="p-3">เข้าสู่ระบบ</h3>

      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="ชื่อผู้ใช้"
          size="30"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control form-control-lg"
          placeholder="รหัสผ่าน"
          size="30"
        />
      </div>
      <template>
      <router-link to="/home">
        <b-button type="submit" class="btn btn-secondary btn-lg btn-block">
          <span style="font-size:25px"> เข้าสู่ระบบ </span>
        </b-button>
      </router-link>
      <p></p>
      <router-link to="/register">
        <b-button type="submit" class="btn btn-secondary btn-lg btn-block">
          <span style="font-size:25px"> สมัครสมาชิก </span>
        </b-button>
      </router-link>
      </template>
      <p class="forgot-password text-center mt-3">
        <router-link to="/forgot-password">ลืมรหัสผ่านใช้หรือไม่ ?</router-link>
      </p>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
