<template>
  <div class="w-75 p-3 mb-1 position-relative mx-auto text-left ">
    <b-container fluid>
      <b-row>
        <b-col></b-col>
        <b-col sm="3" class="ml-5 p-3"><h1>สมัครสมาชิก</h1></b-col>
        <b-col></b-col>
      </b-row>
      <b-row class="my-1">
        <!-- Avatat -->
        <b-col sm="3" class="ml-5">
          <b-row class="ml-5">
            <b-avatar rounded="lg" size="15rem"></b-avatar>
          </b-row>
          <b-row class="pt-2">
            <b-col>
              <div class="border border-dark pr-5 p-3">
                <!-- email -->
                <b-row>
                  <b-col class="pt-3">
                    <p>อีเมลล์ :</p>
                    <b-row class="ml-1">
                      <b-form-input type="text" class="p-3" />
                    </b-row>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="pt-3">
                    <p>รหัสผ่าน :</p>
                    <b-row class="ml-1">
                      <b-form-input type="text" class="p-3" />
                    </b-row>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="pt-3">
                    <p>ยืนยันรหัสผ่าน :</p>
                    <b-row class="ml-1">
                      <b-form-input type="text" class="p-3" />
                    </b-row>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-col>

        <!-- name -->
        <b-col sm="4" class="pt-5">
          <p class="">ชื่อ :</p>
          <b-row>
            <b-form-input type="text" class="ml-3" />
          </b-row>
          <!-- surname -->
          <b-row>
            <b-col class="pt-3">
              <p>นามสกุล :</p>
              <b-row>
                <b-form-input type="text" class="ml-3" />
              </b-row>
            </b-col>
          </b-row>
          <!-- date -->
          <b-row>
            <b-col class="pt-3">
              <p>วัน/เดือน/ปีเกิด :</p>
              <b-row class="ml-1">
                <b-form-datepicker
                  id="datepicker-placeholder"
                  placeholder="เลือกวันที่"
                  locale="en"
                ></b-form-datepicker>
              </b-row>
            </b-col>
          </b-row>
          <!-- gender -->
          <b-row>
            <b-col class="pt-3">
              <p>เพศ :</p>
              <b-form-group v-slot="{ gender }">
                <b-form-radio-group
                  v-model="selected"
                  :options="options"
                  :Gender="gender"
                  plain
                ></b-form-radio-group>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="pt-3">
              <p>เบอร์โทร :</p>
              <b-row>
                <b-form-input type="text" class="ml-3" />
              </b-row>
            </b-col>
          </b-row>
        </b-col>

        <b-col sm="4" class="pt-5 ml-10">
          <!-- address -->
          <b-row>
            <b-col class="ml-3">
              <p>ที่อยู่ :</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-input type="text" class="ml-3" />
            </b-col>
          </b-row>
          <!-- Comment -->
          <b-row>
            <b-col class="pt-3 ml-3">
              <p>แขวง/ตำบล :</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-input type="text" class="ml-3" />
            </b-col>
          </b-row>
          <!-- Comment -->
          <b-row>
            <b-col class="pt-3 ml-3">
              <p>แขวง/อำเภอ :</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-input type="text" class="ml-3" />
            </b-col>
          </b-row>
          <!-- Comment -->
          <b-row>
            <b-col class="pt-3 ml-3">
              <p>จังหวัด :</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-input type="text" class="ml-3" />
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <!-- register button -->
      <b-row class="my-1 ">
        <b-col></b-col>
        <b-col></b-col>
        <b-col sm="2">
          <b-button size="lg" variant="primary" class="ml-2"
            >สมัครสมาชิก</b-button
          >
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data () {
    return {
      selected: 'men',
      options: [
        { text: 'ชาย', value: 'men' },
        { text: 'หญิง', value: 'women' }
      ]
    }
  },
  methods: {}
}
</script>
