<template>
  <b-row>
    <b-col sm="3" class="bg-dark">
      <b-row style="height: 88vh" class="text-lg-left">
        <b-col>
          <label for="input-small" class="text-light  my-3 ml-4"
            >คำที่ต้องการค้นหา:</label
          >
          <b-form-input
            id="searchInput"
            class="mb-2 mr-sm-2 mb-sm-0"
            style="width: 325px; margin: auto"
            placeholder="ระบุคำที่ต้องการค้นหา"
          >
          </b-form-input>
          <button
            type="button"
            class="btn btn-primary btn-lg w-50"
            style="margin-top: 15px; margin-left: 95px;"
          >
            ค้นหา
          </button>
        </b-col>
      </b-row>
    </b-col>
    <b-col>
      <b-row class="ml-3" style="color:#969696">
        <p>{{ jobList.length }} งานจากทั้งหมด</p>
      </b-row>
      <b-row
        class="text-left ml-2 border border-dark mr-3 my-2"
        v-for="jobList in jobList"
        :key="jobList"
      >
        <b-col sm="8" class="mt-3">
          <p>
            <b> {{ jobList.position }} </b> <br />
            {{ jobList.namecompany }} <br />
            {{ jobList.educational }}
            <span style="padding-left:50px"> {{ jobList.salary }}</span>
          </p>
        </b-col>
        <b-col class="my-auto" style="padding-left: 200px">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            @click="goTodetail(jobList._id)"
          >
            รายละเอียด
          </button>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      jobList: []
    }
  },
  methods: {
    getJobs () {
      axios
        .get('http://localhost:3000/jobposting/')
        .then(res => {
          console.log(res)
          this.jobList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    goTodetail (jobsid) {
      const jobid = jobsid
      this.$router.push({ name: 'Workdetail', params: { jid: jobid } })
    }
  },
  computed: {},
  mounted () {
    console.log('Vue compomet is mounted')
    this.jobList = this.getJobs()
  }
}
</script>
