<template>
  <div>
    <b-button variant="success" class="float-right m-2" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="User name" label-for="username">
          <b-form-input
            id="username"
            v-model="form.username"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Password" label-for="password">
          <b-form-input
            id="password"
            v-model="form.password"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Email" label-for="email">
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>

        <b-form-group label="Work experience" label-for="work">
          <b-form-input id="work" v-model="form.work" required></b-form-input>
        </b-form-group>

        <b-form-group label="Telphone" label-for="telphone">
          <b-form-input
            id="telphone"
            v-model="form.telphone"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Education" label-for="education">
          <b-form-input
            id="education"
            v-model="form.education"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Expected Salary" label-for="salary">
          <b-form-input
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Live In" label-for="livein">
          <b-form-input
            id="livein"
            v-model="form.livein"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import userService from './user'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        username: '',
        password: '',
        email: '',
        work: '',
        telphone: '',
        education: '',
        salary: '',
        livein: ''
      },
      userList: [],
      fields: [
        'id',
        'username',
        'password',
        'email',
        'work',
        'telphone',
        'education',
        'salary',
        'livein',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New User ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.username + ' หรือไม่ !!!!', {
          title: 'กรูณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            userService.deleteUser(user)
            this.userList = userService.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        usernames: '',
        password: '',
        email: '',
        work: '',
        telphone: '',
        education: '',
        salary: '',
        livein: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check valid
      if (this.stateName === false || this.stateGender === false) {
        return ''
      }
      // Do when pass valid
      if (this.form.id > 0) {
        // this.updateUser(this.form)
        userService.updateUser(this.form)
        this.userList = userService.getUsers()
      } else {
        // this.addUser(this.form)
        userService.addUser(this.form)
        this.userList = userService.getUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {},
  mounted () {
    console.log('Vue compomet is mounted')
    this.userList = userService.getUsers()
  }
}
</script>
