<template>
  <div class="w-75 p-3 mb-1 position-relative mx-auto text-left">
    <b-container fluid>
      <b-row>
        <!--row-->
        <b-col>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="อีเมลล์ :"
            label-for="input-1"
            valid-feedback="correct"
            :invalid-feedback="invalidFeedbackEmail"
            :state="stateEmail"
          >
            <b-form-input
              type="email"
              id="input-1"
              v-model="email"
              :state="stateEmail"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="รหัสผ่าน :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedbackPass"
            :state="statePass"
          >
            <b-form-input
              id="input-1"
              v-model="pass"
              :state="statePass"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->

          <b-form-group label="เพศ :" v-slot="{ ariaDescribedby }">
            <b-form-radio-group
              v-model="selected"
              :options="options"
              :aria-describedby="ariaDescribedby"
              name="radio-inline"
            ></b-form-radio-group>
          </b-form-group>
        </b-col>
        <!--row-->
        <b-col>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="ชื่อ :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="นามสกุล :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <label for="example-datepicker">วัน/เดือน/ปีเกิด</label>
          <b-form-datepicker
            id="example-datepicker"
            v-model="value"
            class="mb-2"
          ></b-form-datepicker>

          <!--col-->
          <b-form-group
            class="pt-2"
            id="fieldset-1"
            label="เบอร์โทร :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
        </b-col>
        <!--row-->
        <b-col>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="ที่อยู่ :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="การศึกษา :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="เงินเดือนที่ต้องการ :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
          <!--col-->
          <b-form-group
            id="fieldset-1"
            label="ประสบการณ์ :"
            label-for="input-1"
            valid-feedback="Thank you!"
            :invalid-feedback="invalidFeedback"
            :state="state"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :state="state"
              trim
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <div class="d-flex justify-content-center pt-2">
        <b-button class="pr-3 pl-3 mr-2">บันทึก</b-button>

        <b-button class="pr-3 pl-3 ml-2">ยกเลิก</b-button>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  computed: {
    stateEmail () {
      return this.email.length >= 4
    },
    invalidFeedbackEmail () {
      return 'Please enter something.'
    },
    statePass () {
      return this.email.length >= 4
    },
    invalidFeedbackPass () {
      return 'Please enter something.'
    }
  },
  data () {
    return {
      value: '',
      email: '',
      name: '',
      text: '',
      selected: 'first',
      options: [
        { text: 'ชาย', value: 'first' },
        { text: 'หญิง', value: 'second' }
      ]
    }
  }
}
</script>
