<template>
  <b-row>
    <b-col>
      <b-row class="text-left ml-2 border border-dark mr-3 my-2 jobdetail">
        <b-col
          sm="12"
          class="mt-1 pb-2"
          v-for="jobList in jobList"
          :key="jobList"
        >
          <div v-if="jobList._id === jobId">
            <h4 class="text-info">{{ jobList.position }}</h4>
            {{ jobList.namecompany }}

            <h5 class="text-info">รายละเอียดงาน</h5>

            {{ jobList.description }}

            <h5 class="text-info">เงินเดือน</h5>

            {{ jobList.salary }}

            <h5 class="text-info">สวัสดีการ</h5>

            {{ jobList.welfare }}

            <!--button-->
            <div class="d-flex justify-content-center">
              <b-button
                block
                class="mt-3"
                v-b-modal.modal-register
                @click="getPo(jobList.position)"
                >สมัครงาน</b-button
              >
              <b-modal
                id="modal-register"
                ref="modal"
                title="สมัครงาน"
                @hidden="resetModal"
                @ok="handleOk"
              >
                <form ref="form" @submit.stop.prevent="handleSubmit">
                  <!--name-->
                  <b-form-group
                    label="NameSurname"
                    label-for="nameSurname"
                    invalid-feedback="Name is required"
                    :state="nameState"
                  >
                    <b-form-input
                      id="nameSurname"
                      placeholder="ชื่อ"
                      v-model="form.nameSurname"
                      :state="nameState"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <!--surname-->
                  <b-form-group
                    label="Position"
                    label-for="Position"
                    :state="positionState"
                  >
                    <b-form-input
                      id="position"
                      placeholder="ตำแหน่ง"
                      v-model="form.position"
                      :state="positionState"
                    ></b-form-input>
                  </b-form-group>
                  <!--liveIn-->
                  <b-form-group
                    label="Address"
                    label-for="address"
                    invalid-feedback="Name is required"
                    :state="liveState"
                  >
                    <b-form-input
                      id="address"
                      placeholder="ที่อยู่"
                      v-model="form.address"
                      :state="addressState"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <!--exp-->
                  <b-form-group
                    label="Experience"
                    label-for="experience"
                    invalid-feedback="Name is required"
                    :state="experienceState"
                  >
                    <b-form-input
                      id="experience"
                      placeholder="ประสบการณ์"
                      v-model="form.experience"
                      :state="experienceState"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <!--education-->
                  <b-form-group
                    label="Education"
                    label-for="education"
                    invalid-feedback="Name is required"
                    :state="educationalState"
                  >
                    <b-form-input
                      id="education"
                      placeholder="การศึกษา"
                      v-model="form.educational"
                      :state="educationalState"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <!--salary-->
                  <b-form-group
                    label="Salary"
                    label-for="salary"
                    invalid-feedback="Name is required"
                    :state="salaryState"
                  >
                    <b-form-input
                      id="salary"
                      placeholder="เงินเดือนที่ต้องการ"
                      v-model="form.salary"
                      :state="salaryState"
                      required
                    ></b-form-input>
                  </b-form-group>
                </form>
              </b-modal>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      form: {
        name: '',
        position: '',
        address: '',
        experience: '',
        educational: '',
        salary: ''
      },
      jobId: this.$route.params.jid,
      jobList: []
    }
  },
  methods: {
    resetModal () {
      this.form = {
        nameSurname: '',
        position: '',
        address: '',
        experience: '',
        educational: '',
        salary: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (
        this.nameState === false ||
        this.positionState === false ||
        this.addressState === false ||
        this.experienceState === false ||
        this.educationalState === false ||
        this.salaryState === false
      ) {
        return
      }
      // Do when pass valid
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        // this.userList = userService.getUsers()
        axios
          .post('http://localhost:3000/applyJob/add', this.form)
          .then(res => {
            console.log(res)
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-register')
      })
    },
    getJobs () {
      axios
        .get('http://localhost:3000/jobposting/')
        .then(res => {
          console.log(res)
          this.jobList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getPo (jobs) {
      const po = jobs
      this.form.position = po
    }
  },
  computed: {},
  mounted () {
    console.log('Vue compomet is mounted')
    this.jobList = this.getJobs()
  }
}
</script>
