* {
    box-sizing: border-box;
}

.box {
    background-color: rgb(187, 241, 250);
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.box2 {
    display: inline-block;
    background-color: azure;
    padding: 50px;
    margin: 170px;
    border: black solid 1px;
}

.buttonBorder {
    background-color: azure;
    display: inline-block;
    border: none;
    text-align: center;
}