<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="light" variant="light">
        <b-navbar-brand>JobMarsX</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item
              ><router-link class="nav-link" to="/"
                >Home</router-link
              ></b-nav-item
            >
            <b-nav-item
              ><router-link class="nav-link" to="/company"
                >company</router-link
              ></b-nav-item
            >
            <b-nav-item
              ><router-link class="nav-link" to="/consider"
                >consider</router-link
              ></b-nav-item
            >
            <b-nav-item
              ><router-link class="nav-link" to="/post"
                >Post</router-link
              ></b-nav-item
            >
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <b-avatar badge></b-avatar>
                <em> User : John</em>
              </template>
              <router-link class="nav-link" to="/login">Login</router-link>
              <router-link class="nav-link" to="/register"
                >Register</router-link
              >
              <router-link class="nav-link" to="/User">User</router-link>
              <router-link class="nav-link" to="/">LogOut</router-link>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import './assets/login.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.b-nav-item {
  color: black;
}
</style>
